Q1 :-

In [4]:
a = 'Priyanshu'
type(a)

str

In [5]:
l = [9,3,8,3,"Priyanshu",7.76]
type(l)

list

In [6]:
f = 7.76
type(f)

float

In [8]:
t = (1,2,3,4)
type(t)

tuple

Q2 :-

In [9]:
var1 = '' # string
type(var1)

str

In [10]:
var2 = '[DS,ML.PYTHON]' # string
type(var2)

str

In [11]:
var3 = ['DS','ML','PYTHON'] # LIST
type(var3)

list

In [12]:
var4 = 1 # integer
type(var4)

int

Q3 :-

In [13]:
# 1. (/) => used for divison
10/2

5.0

In [15]:
# 2. (%) => used to find remainder
5%3

2

In [16]:
# 3. (//) => used to find divisor
4//2

2

In [17]:
# 4. (**) => used to find power 
2**2

4

Q4 :-

In [18]:
l = [1,2,3,4,'Priyanshu','PW',25.4,7.76,(1,2,3),(4,5,6)]
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'tuple'>
<class 'tuple'>

Q5 :-

In [24]:
A = 40
B = 2

count = 0 

while A % B == 0:
    A = A / B  
    count += 1 

if count > 0:
    
    print("A can be divided", count, "times by B.")
else:
    print("A is not divisible by B.")

A can be divided 3 times by B.

Q6 :-

In [26]:
LIST = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in LIST :
    if i % 3 == 0 :
        print(i," is divisible by 3")
    else :
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7 :-
Ans :- Mutable data types are objects that can be modified,for eg:- list,set,dictionary etc. while immutable data types are objects that cannot be modified, for eg:- tuples, float, bool,string etc.

In [28]:
# Mutable Data types eg:-
a_list = [2, 3, 4, 5, 6, 'SHREE RAM', True, 34.56]
a_list[1] = 250
print(a_list)

[2, 250, 4, 5, 6, 'sudh', (3+7j), True, 34.56]

In [30]:
# immutable Data types eg:-
h = "Priyanshu"
h[3] = a

TypeError: 'str' object does not support item assignment

As we can see str[3] does not change the value of original string, hence it gives an error